*{
    
    margin: 0px;
padding: 0px;
}


body{
    background:rgba(148, 221, 178, 0.501);
color:rgb(21, 24, 24);
font-family: 'STIX Two Text', serif;

}
ul{
list-style: none;
margin: 0px;
padding: 0px;
 display: flex;
height: inherit;

}
.header li{

    height: inherit;
}
.menu{
height: inherit;

}

.header{
background-color: rgba(144, 255, 157, 0.405);
color: rgb(0, 0, 0);
display: flex;
justify-content: space-between;
height: 90px;

}

.header a{ 
color: rgb(0, 0, 0);
text-decoration: none;
height: inherit;
display: flex;
align-items: center; 
padding: 0px 10px;

}
.logo img{
width: 50px;
}
.principal-boton{
width: 250px;
    height: 40px;
    background-color: rgb(183, 20, 204);
border-radius: 0px;    
border: none;
    font-size: 15px;
    cursor: pointer;
margin-top: 30px;
}
.principal{
    background-color: rgba(220, 242, 143, 0.405);
background-image:url('https://s1.1zoom.me/big0/843/428052-Kycb.jpg');
background-size: cover;
background-repeat: no-repeat;
text-align: center;
padding: 100px;
}
h1{
    font-family: 'Palette Mosaic', cursive;
    text-align: center;
font-size: 30px;
    
}   
h1 strong{
color: aqua;}
.principal img{
width: 300px;

}
.ENTENDER_EMOCIONES{
    background-color: rgb(0, 43, 42);
   text-align: center;
   padding: 50px;
   font-size: 20px; 
}
.ENTENDER_EMOCIONES h2{
color: rgb(179, 235, 245);
    margin-bottom: 20px ;

}
.ENTENDER_EMOCIONES p{
  margin-bottom: 40px ;
color: aqua;
}
/*
.padre{
background-color: darksalmon;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content:center; 
height: 500px;
align-items: center;
}
.hijo{
background-color: firebrick;
width:200px;
height: 200px;
border: 2px solid black;
font-size: 30px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
*/
.aplicar{
height: 500px;
background-color: rgba(243, 236, 36, 0.734);
display: flex;
color: black;
}
.aplicar-detalles{
width: 50%;
height: inherit;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
padding: 10px 40px;
text-align: center;
}
.aplicar-detalles img{
    height: 90%;

}


.tercera{
    background-color: rgb(247, 235, 69);
    color: rgb(140, 55, 72);
    text-align:left;
    padding: 25px 100px 200px 50px;
    margin: 25px 50px 200px 100px;
}

.PSICOLOGIA{
background-color: rgb(234, 255, 205);
color: black;
text-align: center;
padding: 100px;
margin: 0px; 
}


.PSICOLOGIA img{
height: 136px;
width: 113px;
}


.psicologa-oficial{
background-color: rgb(199, 245, 228);
color: black;
text-align: center;
padding: 54px;
margin: 10px;
font-size: 40px;
}

.PSICOLOGIA h5{
margin: 10px;
font-size: 20px;
}
.PSICOLOGIA p{
margin: 25px;
font-size: 17px;
}


.boton-forms{
height: 40px;
background-color: rgb(0, 187, 255);
border-radius: 24px;
border: none;
font-size: 16px;
cursor: pointer;
margin-top: 30px;

}



.NUESTRAS-REDES-SOCIALES{
background-color: rgb(122, 174, 223);
color:black;
text-align: center;
padding: 60px;
margin: 32px;
font-size: 30px;
}

.NUESTRAS-REDES-SOCIALES h3{
margin: 20px;
}
.NUESTRAS-REDES-SOCIALES h4{
    margin: 10px;
}

.NUESTRAS-REDES-SOCIALES p{
margin: 10px;
}
.NUESTRAS-REDES-SOCIALES img{
height: 70px;
}
.boton-tiktok{
height: 40px;
background-color: rgba(255, 149, 110, 0.583);
border-radius: 24px;
border: none;
font-size: 16px;
cursor: pointer;
margin-top: 30px;
}

.boton-instagram{
height: 40px;
background-color: darksalmon;
border-radius:24px ;
border:none ;
font-size: 16px;
cursor: pointer;
margin-top: 30px;
margin-left: 50px;
}


.CAPTURAS-REDES{
background-color: rgba(237, 188, 231, 0.885);
color: black;
text-align: center;
padding: 60px;
font-size: 30px;

}
.CAPTURAS-REDES h6{
color: rgb(253, 0, 203);
margin-bottom: 20px;
}
.CAPTURAS-REDES p{
    margin: 15px;
}
.CAPTURAS-REDES img{
    margin: 15px;
}
.COACHING{
background-color: rgb(169, 200, 201);
color: floralwhite;
text-align: center;
padding: 50px;
font-size: 30px;
margin: 10px;
}
 .COACHING h6{
margin: 20px;
 }
.COACHING img{
height: 252px;
width: 200px;
}
.pases-contenedor{
width: 100%;
min-height: 300px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: flex-start;
padding: 20px;
}
.pases{
width: 30%;
min-height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgba(72, 209, 53, 0.645);
border-radius: 5px;
padding: 20px;
}
.pases figure{
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.pases figure img{
width: 80%;
max-width: 500px;
}
.boton-pases1{
    height: 40px;
background-color: rgba(190, 148, 230, 0.802);
border-radius: 24px;
border: none;
font-size: 16px;
cursor: pointer;
margin-top: 30px;
padding: 5px;
}

.boton-pases2{
    height: 40px;
background-color: black;
border: none;
border-radius:24px ;
font-size: 16px;
cursor: pointer;
margin: top;
color: cornsilk;
padding: 5px;
}

.boton-pases3{
    height: 40px;
background: rgb(196, 189, 91);
border: none;
border-radius: 24px;
font-size: 16px;
cursor: pointer;
margin-top: 30px;
color: black;
padding: 5px;
}